In [2]:
pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl.metadata (2.9 kB)
Collecting lxml (from pandas_datareader)
  Downloading lxml-5.3.1-cp313-cp313-win_amd64.whl.metadata (3.8 kB)
Requirement already satisfied: pandas>=0.23 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pandas_datareader) (2.2.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pandas_datareader) (2.32.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.23->pandas_datareader) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from pandas>=0.23->pandas_datareader) (2024.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2025.1.31)
Requirement already satisfied: six>=1.5 in c:\users\dell\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.17.0)
Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Downloading lxml-5.3.1-cp313-cp313-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/3.8 MB 1.6 MB/s eta 0:00:02
   -------- ------------------------------- 0.8/3.8 MB 1.7 MB/s eta 0:00:02
   ---------- ----------------------------- 1.0/3.8 MB 1.8 MB/s eta 0:00:02
   ------------- -------------------------- 1.3/3.8 MB 1.8 MB/s eta 0:00:02
   ------------- -------------------------- 1.3/3.8 MB 1.8 MB/s eta 0:00:02
   ------------- -------------------------- 1.3/3.8 MB 1.8 MB/s eta 0:00:02
   ---------------- ----------------------- 1.6/3.8 MB 983.9 kB/s eta 0:00:03
   ------------------- -------------------- 1.8/3.8 MB 1.1 MB/s eta 0:00:02
   --------------------- ------------------ 2.1/3.8 MB 1.1 MB/s eta 0:00:02
   ------------------------ --------------- 2.4/3.8 MB 1.0 MB/s eta 0:00:02
   ------------------------ --------------- 2.4/3.8 MB 1.0 MB/s eta 0:00:02
   ------------------------ --------------- 2.4/3.8 MB 1.0 MB/s eta 0:00:02
   --------------------------- ------------ 2.6/3.8 MB 880.6 kB/s eta 0:00:02
   --------------------------- ------------ 2.6/3.8 MB 880.6 kB/s eta 0:00:02
   --------------------------- ------------ 2.6/3.8 MB 880.6 kB/s eta 0:00:02
   ------------------------------ --------- 2.9/3.8 MB 803.9 kB/s eta 0:00:02
   ------------------------------ --------- 2.9/3.8 MB 803.9 kB/s eta 0:00:02
   -------------------------------- ------- 3.1/3.8 MB 784.5 kB/s eta 0:00:01
   -------------------------------- ------- 3.1/3.8 MB 784.5 kB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 764.9 kB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 764.9 kB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 767.7 kB/s eta 0:00:00
Installing collected packages: lxml, pandas_datareader
Successfully installed lxml-5.3.1 pandas_datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

In [15]:
import pandas as pd
import pandas_datareader as pdr
import yfinance as yf
from datetime import datetime
import os

# Set the FRED API key in the environment
os.environ["FRED_API_KEY"] = "1c5acb95620e0ed0d8052f1852190fbf"

# Configuration
start_date = datetime(2010, 1, 1)

# 1. Taux de la Fed
fed_rate = pdr.get_data_fred("FEDFUNDS", start_date)

# 2. DXY Index
dxy = yf.download("DX-Y.NYB", start=start_date)

# 3. CPI (via FRED)
cpi = pdr.get_data_fred("CPIAUCSL", start_date)

# 4. TIPS 10 ans
tips = pdr.get_data_fred("DFII10", start_date)

[*********************100%***********************]  1 of 1 completed

In [12]:
print(fed_rate)

            FEDFUNDS
DATE
2010-01-01      0.11
2010-02-01      0.13
2010-03-01      0.16
2010-04-01      0.20
2010-05-01      0.20
...              ...
2024-10-01      4.83
2024-11-01      4.64
2024-12-01      4.48
2025-01-01      4.33
2025-02-01      4.33

[182 rows x 1 columns]

In [7]:
dxy

Ticker        DX-Y.NYB
Date
2010-01-04   77.529999
2010-01-05   77.620003
2010-01-06   77.489998
2010-01-07   77.910004
2010-01-08   77.470001
...                ...
2025-03-12  103.610001
2025-03-13  103.830002
2025-03-14  103.720001
2025-03-17  103.370003
2025-03-18  103.498001

[3825 rows x 1 columns]

In [13]:
cpi

            CPIAUCSL
DATE
2010-01-01   217.488
2010-02-01   217.281
2010-03-01   217.353
2010-04-01   217.403
2010-05-01   217.290
...              ...
2024-10-01   315.564
2024-11-01   316.449
2024-12-01   317.603
2025-01-01   319.086
2025-02-01   319.775

[182 rows x 1 columns]

In [14]:
tips

            DFII10
DATE
2010-01-01     NaN
2010-01-04    1.47
2010-01-05    1.43
2010-01-06    1.48
2010-01-07    1.44
...            ...
2025-03-11    1.97
2025-03-12    1.99
2025-03-13    1.98
2025-03-14    2.01
2025-03-17    2.02

[3967 rows x 1 columns]

In [ ]:

# Combine data
combined_data = pd.concat([fed_rate, dxy['Close'], cpi, tips], axis=1)
combined_data.columns = ['Fed Rate', 'DXY', 'CPI', '10Y TIPS Yield']