In [3]:
import numpy as np
import pandas as pd

In [4]:
raw_data = pd.read_csv("../data/raw-data/prices-2015-2023.csv")
raw_data.head()

         Date     Price      Open      High       Low     Vol. Change %
0  01/12/2024  2,051.60  2,033.20  2,067.30  2,033.10  272.35K    1.60%
1  01/11/2024  2,019.20  2,029.40  2,056.10  2,017.30  301.34K   -0.42%
2  01/10/2024  2,027.80  2,036.00  2,046.20  2,025.90  205.01K   -0.26%
3  01/09/2024  2,033.00  2,034.50  2,048.60  2,031.90  218.75K   -0.02%
4  01/08/2024  2,033.50  2,052.60  2,053.30  2,022.70  220.99K   -0.80%

The numbers in this data are not good: we need to get rid of ',' and 'k' and then convert them from strings to float type 

we will write a function that does that